Thumbs.db
/source
/BirdSong_stm32f401ret6/Thumbs.db
/BirdSong_kicad/Thumbs.db
/BirdSong_kicad/BirdSong_kicad-backups
/BirdSong_stm32f401ret6/.metadata
/BirdSong_stm32f401ret6/*.metadata
/BirdSong_stm32f401ret6/*.settings
/BirdSong_stm32f401ret6/[Oo]utput
/BirdSong_stm32f401ret6/[Dd]ebug
/BirdSong_stm32f401ret6/*.elf
/BirdSong_stm32f401ret6/*.o
/BirdSong_stm32f401ret6/*.hex
/BirdSong_stm32f401ret6/*.doc
